<%- include('../partials/header')  %>

<h2>Flight list</h2>
<table>
        <thead>
            <tr class='titles'>
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
                <tr class='content'>
                    <td class='airline'><%= f.airline %> </td>
                    <td class='airport'><%= f.airport %> </td>
                    <td class='flight-no'><%= f.flightNo %></td>
                    <td class='departs'><%= f.departs %> </td>
                    <td class='details'><a href="/flights/<%= f._id %>">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
</table>


<%- include('../partials/footer') %> 