<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Flights</title>
</head>
<body>
    <h1>All Flights</h1>
    <table id="list">
        <thead>
            <tr class="titles">
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
                <tr class="flight-content">
                    <td class="airline"><%= f.airline %> </td>
                    <td class="airport"><%= f.airport %> </td>
                    <td class="flight-no"><%= f.flightNo %></td>
                    <td class="departs"><%= f.departs %> </td>
                    <td class="details"><a href="/flights/<%= f._id %>">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
        <h3><a href="/flights/new">Add New Flight</a></h3>
</body>
</html>