<%- include('../partials/header')  %>
<main>

<h1>Flight list</h1>
      <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
                <tr>
                    <td><%= f.airline %> </td>
                    <td><%= f.airport %> </td>
                    <td><%= f.flightNo %></td>
                    <td><%= f.departs %> </td>
                    <td><a href="/flights/<%= f._id %>">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
</body>
</table>
</main>

<%- include('../partials/footer') %> 