<%- include('../partials/header') %>
<main> 
<body>
    <section id="flight-details">
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
    </section>
    
</body>
</main>

<%- include('../partials/footer') %> 