<%- include('../partials/header') %>
<main> 
  <section id='show-page'></section>
    <h1>Flight Details</h1>
    <table id='show-table'>
      <thead>
        <tr id='show-table-key'>
          <th>Airline:</th>
          <th>Airport:</th>
          <th>Flight Number:</th>
          <th>Departs:</th>
          </tr>
      </thead>
      <tbody>
        <tr id='show-table-contents'></tr>
      
        <td><%= flight.airline %> </td>
        
        <td><%= flight.airport %> </td>
        
        <td><%= flight.flightNo %> </td>
        
        <td><%= flight.departs.toLocaleString() %> </td>
        </tr>
        </tbody>
  </table>
    </br>
    </br>
    <div>Tickets:</div>
  </br>
  <% if (tickets.length) { %>
    <% tickets.forEach(function (t) { %>
      <div class='ticket-info'>Seat: <%= t.seat %> </div>
      <div class='ticket-info'>Price: $ <%=t.price %></div>
      <% }) %>
      <% } else { %>
        <div>No tickets yet </div>
        <% } %>
          
  </section>
</br>
  </br>
  <div>Destinations:</div>
</br>
      <% if (flight.destinations.length) { %>
      <%flight.destinations.forEach(function(f){ %>
        <div class="destination-info">Airport: <%=f.airport%></div>
        <div class="destination-info">Arrival: <%=f.arrival%></div>
    <% }); %>
    <% } else { %>
        <div> No destinations yet</div>
        <%} %>

</br>
</section>
</br>
<h2>Add Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%=flight._id%>/destinations">
  <label
  >Destination Airport:</br><select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select> </label>
  <label>Arrival:
      <input
    value="<%= localDate.slice(0, 16) %>"
    type="datetime-local"
    name="arrival" />
  </label>
  <input type="submit" value="Add Destination" />
</form>
</br>
</br>
<a href="/flights/<%=flight._id%>/tickets/new"><h2>Add Ticket</h2></a>


</main>

<%- include('../partials/footer') %> 