<%- include('../partials/header') %>
<main> 
    <h1>Flight Details</h1>
    <section>
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
  
    <br>
    <div><h2>Destinations:</h2></div>
    <ul>
      <% flight.destinations.forEach(dest => { %>
        <li>
          <%= dest.airport %> 
        </li> 
        <% }) %> 
    </ul>
  </section>
  <br>
  <br>
     <form id='add-destination-to-airport' action='/flights/<%= flight._id%>/destinations' method='post'>
      <select name='destinationId'>
        <% destinations.forEach(destination => { %>
          <option value='<%= destination._id %>'><%= destination.airport %></option> 
          <% }) %> 
      </select>
      <button id='destination-button' type='submit'>Add to Destinations</button>
    </form>
</main>

<%- include('../partials/footer') %> 