<%- include('../partials/header') %>
<main> 
<body>
    <h1>Flight Details</h1>
    <section id='flight-details'>
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
    </section>
    <br>
    <h2>Destination Information</h2>
    <section id='destination-details'>
        <% if (flight.destination.length) { %>
            <% flight.destination.forEach(function(destination) { %>
                <label>Destination Airport</label>
                <div><%= destination.airport %> </div>
                <label>Arrival Date</label>
                <div><%= destination.arrival %> </div>  
    </section>
</body>
</main>

<%- include('../partials/footer') %> 