<%- include('../partials/header') %>
<main> 
    <h1>Flight Details</h1>
    <section>
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
  
    <br>
    <h1>Destinations:</h1>
    <ul>
      <% flight.destinations.forEach(dest => { %>
        <li>
          <%= dest.airport %> 
        </li> 
        <% }) %> 
    </ul>
  </section>
  <br>
  <br>
     <form id='add-destination-to-airport' action='/flights/<%= flight._id%>/destinations' method='post'>
      <select name='destinationId'>
        <% destinations.forEach(destination => { %>
          <option value='<%= destination._id %>'><%= destination.airport %></option> 
          <% }) %> 
      </select>
      <button id='dest-button' type='submit'>Add to Destinations</button>
    </form>
<br>
<br>
<section>
<h1>Tickets</h1>
<form id='add-ticket-form' action='/flights<%= flight._id %>/tickets' method='POST'>
  <label for='seat-select'>Seat:</label>
  <input name='seat' required placeholder='A1-F99' pattern='[A-F][1-9]\d?'>
  <label for='price-input'>Price:</label>
  <input type='text' name='price' placeholder='$0' id='price-input' required>
  <button id='btn-ticket' type='submit'>Add Ticket</button>
  </form>
  </section>
  <section>
<% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.seat %> </td>
          <td><%= `$${ticket.price}` %> </td>
        </tr> 
        <% }) %>
    </tbody>
  </table> 
  <% } else { %>
    <h2>No Tickets Yet</h2>
    <% } %>  
  </section>
</main>

<%- include('../partials/footer') %> 