<%- include('../partials/header') %>
<main> 
    <h1>Flight Details</h1>
    <section>
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
  
    </br>
    </br>
    <div>Tickets:</div>
  </br>
  <% if (tickets.length) { %>
    <% tickets.forEach(function (t) { %>
      <div class='ticket-info'>Seat: <%= t.seat %> </div>
      <div class='ticket-info'>Price: $ <%=t.price %></div>
      <% }) %>
      <% } else { %>
        <div>No tickets yet </div>
        <% } %>
      </br>
    </br>
          
    <div><h1>Destinations:</h1></div>
      <% if (flight.destinations.length) { %>
        <% flight.destinations.forEach(function(f) { %>  
          <div class ='destination-info'>Airport: <%= f.airport %> </div>
          <div class ='destination-info'>Arrival: <%= f.arrival %> </div>
          <% }); %>
          <% } else { %> 
            <div>No destinations yet</div> 
            <% } %> 
  </section>
</br>
</br>
  </br>
  <div>Destinations:</div>
</br>
      <% if (flight.destinations.length) { %>
      <%flight.destinations.forEach(function(f){ %>
        <div class="destination-info">Airport: <%=f.airport%></div>
        <div class="destination-info">Arrival: <%=f.arrival%></div>
    <% }); %>
    <% } else { %>
        <div> No destinations yet</div>
        <%} %>

</br>
</section>
</br>
<h2>Add Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%=flight._id%>/destinations">
  <label
  >Destination Airport:</br><select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select> </label>
  <label>Arrival:
      <input
    value="<%= localDate.slice(0, 16) %>"
    type="datetime-local"
    name="arrival" />
  </label>
  <input type="submit" value="Add Destination" />
</form>
</br>
</br>
<a href="/flights/<%=flight._id%>/tickets/new">New Ticket</a>

</main>

<%- include('../partials/footer') %> 