<%- include('../partials/header') %>
<main> 
    <h1>Flight Details</h1>
    <section id='flight-details'>
        <label>Airline</label>
        <div><%= flight.airline %> </div>
        <label>Departure Airport</label>
        <div><%= flight.airport %> </div>
        <label>Flight Number</label>
        <div><%= flight.flightNo %> </div>
        <label>Departure Date</label>
        <div><%= flight.departs %> </div>
    </section>
    <br>
    <h2>Destination Information</h2>
    <section id='destination-details'>
      <ul>
        <%- flight.destinations.map(destination => `<li>${destination.destination} </li>`).join('') %> 
      </ul>
      <form id="add-destinations" action="/flights/<%= flight._id%>/destinations" method="POST"></form> 
      <select name='destinationId'>
        <% destinations.map(function(destination) { %>
            <option value='<%= destination._id %> '><%= destination.destination %> </option>
            <% }) %>  
      </select>
      <button type='submit'>Add Destination</button>
    </section>
    </form>
</main>

<%- include('../partials/footer') %> 